:root {
    --backgroundColor: #d058ff;
    --titlesColor: #282828;
    --textColor: #383838;
    --boxShadow: 20px 20px 60px #d99696,
                -20px -20px 60px #ffcaca;
    --inputBackground: #e4e4e4;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    font-size: 1.5rem;
    background: var(--backgroundColor);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.playgroundContainer {
    display: none;
    justify-content: space-evenly;
    margin-top: 80px;
    align-items: center;
}

.playerPlayground {
    width: 350px;
    height: fit-content;
    background: white;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vs > h1 {
    font-size: 5rem;
    color: var(--textColor);
}

#playerName {
    margin-top: 80px;
    width: 450px;
    height: 280px;
    background: white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #83838349;
}

#playerName > h2 {
    color: var(--titlesColor);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 50px;
}

#namedTitle > h1 {
    color: var(--textColor);
    text-align: center;
}

form > .inputButton {
    display: none;
}

form > .inputText {
    outline-style: none;
    background: var(--inputBackground);
    color: var(--textColor);
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    width: auto;
    height: 50px;
    border-style: none;
    box-shadow: 1px 1px 10px #25252556;
 }

 .optionImg {
     width: 60px;
 }

 #imgContainer {
     display: flex;
     justify-content:space-evenly;
     align-items: center;
     margin-top: 60px;
 }

 .cpuName {
    color: var(--textColor);
    text-align: center;
 }